<h1>Gewinnspiel App</h1>
<% if current_user %>
  <p>
    Du bist <%= current_user.name %>
  </p>
<% end %>
<ul>
  <li><%= link_to 'Teilnehmer-Liste', participants_path %></li>
  <li>
    <%= link_to 'Teilnehmer-Registration', new_participant_path %>
  </li>
  <li>
    <%= link_to 'Einladungen', invitations_path %>
  </li>
</ul>
<h2>Teilnehmer Registration</h2>
<p>Entweder via Direktlink: <%= link_to 'Teilnehmer-Registration', new_participant_path %>
</p>
<p>Oder via QR code: <%= image_tag RQRCode::QRCode.new(new_participant_url).as_png(size: 500).to_data_url %> </p
