<div class="flex flex-col gap-2">
  <%= mark do %>
    Hallo Leute, wir sind von der [Fleischerei Konrad Pfandl](https://www.fleischerei-pfandl.at/), Unterer [Platz 3, 9300 St.Veit](https://maps.app.goo.gl/HvCDXEWQETKKCpfL8).

    Wir betreiben am Wiesenmarkt von St.Veit, von **20.09. bis 07.10.**, eine kulinarische Hütte.
    
    Heuer erstmalig _NEU_ für euch. Für unsere geschätzten Bierliebhaber. Ein QR-Code Gewinnspiel.

    Das Gewinnspiel startet **Montag den 30.09.** und endet somit am **Freitag den 04.10.** bei Sperrstunde.
      
    Siegerehrung beginnt **Sonntag den 06.10** _pünktlich_ um **18 Uhr**. Preise werden nur ausgegeben mit richtigen QR-Code und persönlicher Anwesenheit.

    ## Ablauf
   
    * jedes Bier 0,5l muss bei Kellner oder Theke eingescannt werden mit eurer Registrierung
    * in der Hütte gibt es eine Leinwand, die besten 5, die am meisten Bier bestellt haben, werden auf der Wand angezeigt
    * Für die ersten 3 Plätze gibt es natürlich besondere Preise

    ….also mitmachen , Bier bestellen und Gewinnen
  <% end %>
  <hr />
  <% if current_user %>
    <p class="font-bold">
    Du bist <%= current_user.name %> 
    <%= "(Admin)" if current_user.admin? %>
    <%= "(Bar)" if current_user.bar? %>
    <%= link_to 'Logout', user_path(current_user), data: { turbo_method: :delete } %>
    </p>
    <hr />
    <ul class="classic-ul">
      <li><%= link_to 'Scoreboard', scoreboard_path %></li>
      <li><%= link_to 'Teilnehmer-Liste', participants_path %></li>
      <li>
        <%= link_to 'Benutzerverwaltung', invitations_path if current_user.admin? %>
      </li>
      <li>
        <span class="italic">Öffentliche</span> <%= link_to 'Teilnehmer-Registration', new_participant_path %> <%= link_to '(QR Code)', RQRCode::QRCode.new(new_participant_url).as_png(size: 500).to_data_url %> 
      </li>
    </ul>
  <% else %>
    <ul>
      <%= link_to 'Teilnehmer-Registration', new_participant_path %> <%= link_to '(QR Code)', RQRCode::QRCode.new(new_participant_url).as_png(size: 500).to_data_url %> 
    </ul>
  <% end %>
  <% if current_participant %>
    <hr />
    <p class="font-bold">
    Hallo <%= render(ParticipantDisplayName.new(current_participant)) %>, du nimmst am Gewinnspiel teil! <%= link_to 'Teilnahme-QR-Code', participant_path(current_participant) %>
    </p>
  <% end %>
</div>
