<div class="grid gap-3">
  <h1 class="text-3xl font-bold">Teilnehmer</h1>
  <p>
    Anzahl: <%= @participants.count %>
  </p>
  <%= app_form_with(model: @filters, method: :get, url: participants_path, data: { turbo: false }) do |f| %>
    <div class="flex gap-2 items-center">
      <%= f.text_field(:q) %>
      <%= f.submit("Search") %>
    </div>
  <% end %>
  <ul class="flex flex-col gap-5 divide-y divide-gray-200">
    <% @participants.each do |participant| %>
      <li class="py-3 flex flex-col">
        <%= link_to manage_participant_path(participant.id) do %>
          <%= render ParticipantDisplayName.new(participant) %>
        <% end %>
        <span>Registriert: <%= l participant.created_at, format: :short %></span>
      </li>
    <% end %>
  </ul>
</div>
