<h1>Gewinnspiel</h1>

<% if current_participant %>
  <p>Achtung! Du nimmst aktuell schon als '<%= link_to current_participant.name, participant_path(current_participant.uid) %>' am Gewinnspiel teil. Wenn du dich nochmals registrierst, verlierst du deinen Platz!</p>
<% end %>

<%= form_with model: @participant, data: { turbo: false } do |form| %>
  <%= form.label :name, "Teilnehmer-Name" %>
  <%= form.text_field :name %>
  <%= form.submit "Teilnehmen!" %>
<% end %>

<% @participant.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
