<h1>Einladungen</h1>
<p>
Neue <%= link_to 'Bar-Einladung erstellen', invitations_path(invitation: { role: :bar }), data: { turbo_method: :post } %>
</p>
<ul class="classic-ul">
  <% @invitations.each_with_index do |invitation, index| %>
    <li>
      <%= "Admin-Link" if invitation.admin? %>
      <%= "Bar-Link" if invitation.bar? %>
      
      #<%= @invitations.length - (index + 1) %> <%= link_to '(QR Code)', new_invitation_user_url(invitation, format: 'png') if invitation.activated? %> 
      <% if invitation.activated? %>
        <%= link_to "(deaktivieren)", invitation_path(invitation.id, invitation: { deactivated: true }), data: { turbo_method: 'put' } %>
      <% else %>
        <%= link_to "(aktivieren)", invitation_path(invitation.id, invitation: { deactivated: false }), data: { turbo_method: 'put' } %>
      <% end %>
     <ul class="classic-ul">
      <% invitation.users.newest_first.each do |user| %>
        <li>
          <%= render UserDisplayName.new(user, role_label: false) %> #<%= user.id %>
          <% if user.activated? %>
            <%= link_to "(deaktivieren)", invitation_user_path(invitation.id, user.id, user: { deactivated: true }), 
              data: { turbo_method: 'put', turbo_track: 'reload', turbo_confirm: "Bist du dir sicher? User können nicht re-aktiviert werden." } %>
          <% else %>
            [deaktiviert]
          <% end %>
        </li>
      <% end %>
     </ul>
    </li>
  <% end %>
</ul>
