<h1>Bier tracken</h1>
<p>Für <%= render ParticipantDisplayName.new(@participant) %></p>

<%= app_form_with model: [@participant, @consumption], data: { turbo: false } do |form| %>
  <div class="grid gap-6">
    <%= form.input_group do %>
      <%= form.label :count, 'Anzahl' %>
      <%= form.text_field :count, type: :number %>
    <% end %>

    <%= form.submit %>
  </div>
<% end %>
